<ion-view view-title="chatroom">
  <ion-content id = "scrollmsgs" class = "scrollMsg" article-load schrollBottom>
  
  <div>
      <ol class="chat">
      <li ng-class="{'other':msg.username != name,'self':msg.username==name}" ng-repeat = "msg in message_list">
        <div class="msg">
            <div class="user">{{msg.username}}<!-- <span class="range admin">Admin</span></div> -->
          <p>{{msg.message}}</p>
          <time>{{msg.timestamp | date}}</time>
        </div>
      </li>
    <!-- <article class="content__item">
      <span class="category category--full">Life &amp; Death</span>
      <h2 class="title title--full">Hope for Amy Walters</h2>
      <div class="meta meta--full">
        <img class="meta__avatar" src="img/authors/4.png" alt="author04" />
        <span class="meta__author">Sandra Paulson</span>
        <span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
        <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
        <span class="meta__misc meta__misc--seperator"><i class="fa fa-comments-o"></i> 7 comments</span>
        <span class="meta__misc"><i class="fa fa-heart"></i> 12 favorites</span>
      </div>
     
    </article> -->
    </ol>
    </div>
    
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-calm">
  <label style = "width:80%" class="item item-input">
          
          <input  type="text" ng-model="message">
         
        </label>
  
  <div class="buttons" ng-click="doSomething()">
    <button class="button" ng-click = "sendMessage()">Send</button>
  </div>
</ion-footer-bar>
</ion-view>