<ion-view view-title="{{nickname}}">
  <ion-content id="grid-template" grid-animations-basis>

   
  <div id="theGrid" class="main" back-to-grid>
    <section class="grid">
      <div grid-item class="grid__item" >
        <span class="title title--preview">Fermats.io</span>
        <div class="loader"></div>
        <p>A simple yet poweful chatting app developed using firebase. </p>
        <div class="meta meta--preview">
          <input type="text" placeholder = "Name of the chat room" ng-model="chatroomname">
          
          <button class="button button-block button-positive" id = "Start_chat" >Chat!</button>
        
        </div>
      </div>
    </section>
  </div>

  </ion-content>
</ion-view>
